*:before,
*:after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



#sigl {
    border-radius: 6px;
}

#fr {

    width: 20rem;
    background-color: rgba(255, 255, 255, 0.13);
    position: relative;
    left: 36%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
    padding: 25px 35px;
    margin-top: 5rem;
}

form * {
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
}

form h3 {
    font-size: 32px;
    font-weight: 500;
    line-height: 42px;
    text-align: center;
}

label {
    display: block;
    margin-top: 30px;
    font-size: 16px;
    font-weight: 500;
}

input {
    display: block;
    height: 3rem;
    width: -webkit-fill-available;
    background-color: rgba(79, 76, 76, 0.958);
    border-radius: 13px;
    padding: 0 .6rem;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
}

::placeholder {
    color: #e5e5e5;
}

#b {
    margin-top: 3rem;
    width: 100%;
    background-color: rgb(182, 225, 197);
    color: #080710;
    padding: 15px 0;
    font-size: 1.3rem;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}

input[type=file]::file-selector-button {
    background-color: #fff;
    border-radius: .6rem;
    top: .4rem;
    position: relative;
    border: 0px;
    padding: 10px 15px;
    margin-right: 20px;
    transition: .5s;
    cursor: pointer;
}

input[type=file]::file-selector-button:hover {
    background-color: #aea7a7;
    border: 0px;
}


.social {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.social div {
    background: red;
    width: 150px;
    border-radius: 3px;
    padding: 5px 10px 10px 5px;
    background-color: rgba(255, 255, 255, 0.27);
    color: #eaf0fb;
    text-align: center;
}

.social div:hover {
    background-color: rgba(255, 255, 255, 0.47);
}

.social .fb {
    margin-left: 25px;
}

.social i {
    margin-right: 4px;
}