.inputs {
    display: flex;
}

.inputs input {
    margin: 8px 4px;
    font-size: 1.6rem;
    text-align: center;

}

.validation-form {
    width: 20rem;
    background-color: rgba(255, 255, 255, 0.13);
    position: relative;
    left: 36%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
    padding: 25px 35px;
    margin-top: 5rem;
    color: white;
}

.btn {
    width: auto;
    padding: 1rem;
    background-color: #b7980d;
    border-radius: .5rem;
    font-weight: 500;
    font-size: large;
    border: none;
    transition: 0.3s ease;
    margin-top: 1rem;
}

.btn:hover {
    background-color: #846d0a;
}

.verif {
    display: flex;
    flex-direction: column;
    align-items: center;
}